# ==========================================
# CREDENCIALES
# ==========================================
ODOO_PASSWORD=tu_contraseña_aqui
GOOGLE_APPLICATION_CREDENTIALS=/app/gcloud_credentials.json

# ==========================================
# BANDERAS DE CONTROL (FEATURE FLAGS)
# ==========================================
# Cambia a 'True' o 'False' según corresponda para cada entorno (Local vs NAS)
RUN_UCFE=True
RUN_ZOHO=False
RUN_TICKETS_COMPRAS=False
RUN_TICKETS_VENTAS=False
RUN_TICKETS_OTROS=False
RUN_CRM=False
RUN_RESPUESTAS=False
RUN_PROACTIVIDAD=False
